<main class="max-w-3xl mt-5">
  <h1 class="text-5xl text-center">Web Chat</h1>

  <div class="w-full border-gray-300 mt-12 rounded-lg">
    <h3
      class="py-2 pl-3 text-lg rounded-t-lg font-bold uppercase text-gray-800"
    >
      Quick setup
    </h3>
    <div class="m-3">
      <div class="mt-2 flex justify-between">
        <h4 class="text-lg py-2">Update config</h4>
        <div>
          <button (click)="updateHelpshiftConfig()">
            Update Helpshift Config
          </button>
        </div>
      </div>
      <div class="mt-2 flex justify-between">
        <h4 class="text-lg py-2">Login user</h4>
        <div>
          @if(isLoggedIn){
          <button (click)="onLogout()">Logout</button>
          }@else{
          <button (click)="onLogin()">Login</button>
          }
        </div>
      </div>
    </div>
  </div>

  <div></div>

  <div></div>
</main>
