<main class="max-w-3xl mt-5">
  <h1 class="text-5xl text-center">Web Chat</h1>

  <div class="w-full border-gray-300 mt-12 rounded-lg">
    <h3
      class="py-2 pl-3 text-lg rounded-t-lg font-bold uppercase text-gray-800"
    >
      Quick setup
    </h3>
    <div class="m-3">
      <div class="mt-2 flex justify-between">
        <h4 class="text-lg py-2">Update config</h4>
        <div>
          <button (click)="updateHelpshiftConfig()">
            Update Helpshift Config
          </button>
        </div>
      </div>
      <div class="mt-2 flex justify-between">
        <h4 class="text-lg py-2">Login user</h4>
        <div>
          @if(isLoggedIn){
          <button (click)="onLogout()">Logout</button>
          }@else{
          <button (click)="onLogin()">Login</button>
          }
        </div>
      </div>
      <div class="mt-2 flex justify-between">
        <h4 class="text-lg py-2">Full Privacy</h4>
        <div class="flex flex-col space-y-2 p-2">
          <form>
            <div class="inline-flex items-center mr-4">
              <input
                type="radio"
                class="form-radio h-5 w-5 text-blue-600"
                value="enable"
                (change)="onFullPrivacyChange($event)"
                [checked]="selectedPrivacyOption === 'enable'"
              />
              <span class="ml-2 text-gray-700"> Enable Full Privacy </span>
            </div>
            <div class="inline-flex items-center">
              <input
                type="radio"
                class="form-radio h-5 w-5 text-blue-600"
                value="disable"
                (change)="onFullPrivacyChange($event)"
                [checked]="selectedPrivacyOption === 'disable'"
              />
              <span class="ml-2 text-gray-700"> Disable Full Privacy </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full border-gray-300 mt-12 rounded-lg">
    <h3
      class="py-2 pl-3 text-lg rounded-t-lg font-bold uppercase text-gray-800"
    >
      Widget options
    </h3>
    <div class="m-3">
      <div class="mt-2 flex justify-between">
        <h4 class="text-lg py-2">Launcher options</h4>
        <div class="flex flex-col space-y-2 p-2">
          <form>
            <div class="inline-flex items-center mr-4">
              <input
                type="radio"
                class="form-radio h-5 w-5 text-blue-600"
                value="showLauncher"
                (change)="onLauncherChange($event)"
                [checked]="selectedLauncherOption === 'showLauncher'"
              />
              <span class="ml-2 text-gray-700"> Show </span>
            </div>
            <div class="inline-flex items-center">
              <input
                type="radio"
                class="form-radio h-5 w-5 text-blue-600"
                value="hideLauncher"
                (change)="onLauncherChange($event)"
                [checked]="selectedLauncherOption === 'hideLauncher'"
              />
              <span class="ml-2 text-gray-700"> Hide </span>
            </div>
          </form>
        </div>
      </div>
      <div class="mt-3 flex justify-between">
        <h4 class="text-lg py-2">Select Position</h4>
        <div>
          <select
            class="appearance-none bg-white border border-gray-300 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-gray-500"
            (change)="onChangeWidgetPosition($event)"
          >
            <option value="bottom-right">bottom-right</option>
            <option value="bottom-left">bottom-left</option>
            <option value="top-left">top-left</option>
            <option value="top-right">top-right</option>
          </select>

          <button class="ml-3" (click)="onWidgetPositionApply()">Apply</button>
        </div>
      </div>
      <div class="mt-2 flex justify-between">
        <h4 class="text-lg py-2">Full screen mode</h4>
        <div class="flex flex-col space-y-2 p-2">
          <form>
            <div class="inline-flex items-center mr-4">
              <input
                type="radio"
                class="form-radio h-5 w-5 text-blue-600"
                value="enterFullScreen"
                (change)="onFullScreenChange($event)"
                [checked]="selectedFullScreenOption === 'enterFullScreen'"
              />
              <span class="ml-2 text-gray-700"> Enter </span>
            </div>
            <div class="inline-flex items-center">
              <input
                type="radio"
                class="form-radio h-5 w-5 text-blue-600"
                value="exitFullScreen"
                (change)="onFullScreenChange($event)"
                [checked]="selectedFullScreenOption === 'exitFullScreen'"
              />
              <span class="ml-2 text-gray-700"> Exit </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full border-gray-300 mt-12 rounded-lg">
    <h3 class="py-2 pl-3 text-lg rounded-t-lg font-bold uppercase text-gray-800">Event handlers</h3>
    <div class="m-3">
        <div class="mt-4 flex justify-between">
            <h3 class="text-lg py-2">Unread Message Count</h3>
            <div class="mr-2 p-2">Count: {{unreadMessageCount}}</div>
          </div>
    </div>
  </div>
</main>
